---
layout: default
home: true
---
<h1> <a href="http://fontmeme.com/handwriting-fonts/"><img src="http://fontmeme.com/embed.php?text=Family%20on%20the%20go&name=Bite _ Bullet.ttf&size=100&style_color=000003" alt="Handwriting Fonts"></a></h1>
<h2> <a href="http://fontmeme.com/handwriting-fonts/"><img src="http://fontmeme.com/embed.php?text=Coloma%20%2B%20Joe%20%2B%20Ramona&name=Jennifer Lynne.ttf&size=35&style_color=2F2F33" alt="Handwriting Fonts"></a> </h2>
<div class="home">
    <h2>Posts</h2>
    <ul class="post-list">
        {% if site.pagination %}
        {% assign source = paginator.posts %}
        {% else %}
        {% assign source = site.posts %}
        {% endif %}

        {% for post in source %}
        <li>
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-link">
                <div class="post-list-info">
                    <h2 class="post-list-title">{{ post.title }}</h2>
                    <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                </div>
            </a>

            <img src="{{ post.thumb }}" class="post-list-thumb" />
        </li>
        {% endfor %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->
</div>

<h2>Follow me on Instagram</h2>
<center>

  <!-- SnapWidget -->
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/262815" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
</center>
