<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include loader.html %}

    <main id="sb-site">

        <div class="container">
            <div class="wrapper">
                {{ content }}

                <script type="text/javascript">
                    google_ad_client = "ca-pub-7902219614622730";
                    google_ad_slot = "3477038403";
                    google_ad_width = 728;
                    google_ad_height = 90;
                </script>
                <!-- 4t family ad -->
                <script type="text/javascript"
                src="//pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>

            </div>



            {% include pagination.html %}

            {% include next.html %}

        </div>

    </main>

    {% include sidebar.html %}

    {% include js.html %}

</body>

</html>
